In [14]:
#Question1
# Step 1: Import the necessary libraries
import pandas as pd

# Step 2: Import the dataset from the address (assuming it's in the same directory)
address = "address.csv"

# Step 3: Assign it to a variable called users
users = pd.read_csv(address, sep='|')

In [15]:
print(users)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [16]:
# Step 4: Discover the mean age per occupation
mean_age_per_occupation = users.groupby('occupation')['age'].mean()
print("Mean age per occupation:")
print(mean_age_per_occupation)

Mean age per occupation:
occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [17]:
# Step 5: Discover the Male ratio per occupation and sort it from the most to the least
male_ratio_per_occupation = users.groupby('occupation')['gender'].apply(lambda x: (x == 'M').mean()).sort_values(ascending=False)
print("\nMale ratio per occupation (sorted):")
print(male_ratio_per_occupation)

Male ratio per occupation (sorted):
occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
Name: gender, dtype: float64

In [18]:
# Step 6: For each occupation, calculate the minimum and maximum ages
min_max_age_per_occupation = users.groupby('occupation')['age'].agg(['min', 'max'])
print("\nMinimum and maximum ages per occupation:")
print(min_max_age_per_occupation)

Minimum and maximum ages per occupation:
               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [19]:
# Step 7: For each combination of occupation and sex, calculate the mean age
mean_age_per_occupation_sex = users.groupby(['occupation', 'gender'])['age'].mean()
print("\nMean age for each combination of occupation and sex:")
print(mean_age_per_occupation_sex)

Mean age for each combination of occupation and sex:
occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [20]:
# Step 8: For each occupation, present the percentage of women and men
gender_percentage_per_occupation = users.groupby(['occupation', 'gender']).size() / users.groupby('occupation').size()
print("\nPercentage of women and men for each occupation:")
print(gender_percentage_per_occupation)

Percentage of women and men for each occupation:
occupation     gender
administrator  F         0.455696
               M         0.544304
artist         F         0.464286
               M         0.535714
doctor         M         1.000000
educator       F         0.273684
               M         0.726316
engineer       F         0.029851
               M         0.970149
entertainment  F         0.111111
               M         0.888889
executive      F         0.093750
               M         0.906250
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         F         0.166667
               M         0.833333
librarian      F         0.568627
               M         0.431373
marketing      F         0.384615
               M         0.615385
none           F         0.444444
               M         0.555556
other          F         0.342857
               M         0.657143
programmer     F         0.090909
               M         0.909091
retired        F         0.071429
               M         0.928571
salesman       F         0.250000
               M         0.750000
scientist      F         0.096774
               M         0.903226
student        F         0.306122
               M         0.693878
technician     F         0.037037
               M         0.962963
writer         F         0.422222
               M         0.577778
dtype: float64

In [21]:
#Question 2
# Step 1: Import the necessary libraries
import pandas as pd

# Step 2: Import the dataset from the provided address (assuming it's in the same directory)
euro = "euro.csv"

# Step 3: Assign it to a variable called euro12
euro12 = pd.read_csv(euro)

In [22]:
# Step 5: How many teams participated in the Euro2012?
num_teams = euro12['Team'].nunique()
print(num_teams)

16

In [23]:
# Step 6: What is the number of columns in the dataset?
num_columns = euro12.shape[1]
print(num_columns)

35

In [24]:
# Step 7: View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
print(discipline)

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [27]:
# Step 8: Sort the teams by Red Cards, then by Yellow Cards
discipline_sorted = discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)
print(discipline_sorted)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [29]:
# Step 9: Calculate the mean Yellow Cards given per Team
# Calculate the mean Yellow Cards given per Team
mean_yellow_cards_per_team = discipline.groupby('Team')['Yellow Cards'].mean()

# Display the mean Yellow Cards given per Team
print("Mean Yellow Cards given per Team:")
print(mean_yellow_cards_per_team)

Mean Yellow Cards given per Team:
Team
Croatia                 9.0
Czech Republic          7.0
Denmark                 4.0
England                 5.0
France                  6.0
Germany                 4.0
Greece                  9.0
Italy                  16.0
Netherlands             5.0
Poland                  7.0
Portugal               12.0
Republic of Ireland     6.0
Russia                  6.0
Spain                  11.0
Sweden                  7.0
Ukraine                 5.0
Name: Yellow Cards, dtype: float64

In [34]:
# Filter teams that scored more than 6 goals
teams_more_than_6_goals = euro12[euro12['Goals'] > 6]

# Print the teams that scored more than 6 goals
print("Teams that scored more than 6 goals:")
print(teams_more_than_6_goals['Team'])

Teams that scored more than 6 goals:
5     Germany
13      Spain
Name: Team, dtype: object

In [33]:
# Select the teams that start with G
teams_starting_with_G = euro12[euro12['Team'].str.startswith('G')]

# Print the teams starting with G
print("Teams starting with G:")
print(teams_starting_with_G['Team'])

Teams starting with G:
5    Germany
6     Greece
Name: Team, dtype: object

In [36]:
# Step 12: Select the first 7 columns
first_7_columns = euro12.iloc[:, :7]
print(first_7_columns)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

In [37]:
# Step 13: Select all columns except the last 3
all_except_last_3_columns = euro12.iloc[:, :-3]
print(all_except_last_3_columns)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Clean Sheets  \
0              0              0                     0  ...             0
1              0              0                     0  ...             1
2              1              0                     0  ...             1
3              0              0                     0  ...             2
4              1              0                     0  ...             1
5              2              1                     0  ...             1
6              1              1                     1  ...             1
7              2              0                     0  ...             2
8              2              0                     0  ...             0
9              0              0                     0  ...             0
10             6              0                     0  ...             2
11             0              0                     0  ...             0
12             2              0                     0  ...             0
13             0              1                     0  ...             5
14             3              0                     0  ...             1
15             0              0                     0  ...             0

    Blocks  Goals conceded Saves made  Saves-to-shots ratio  Fouls Won  \
0       10               3         13                 81.3%         41
1       10               6          9                 60.1%         53
2       10               5         10                 66.7%         25
3       29               3         22                 88.1%         43
4        7               5          6                 54.6%         36
5       11               6         10                 62.6%         63
6       23               7         13                 65.1%         67
7       18               7         20                 74.1%        101
8        9               5         12                 70.6%         35
9        8               3          6                 66.7%         48
10      11               4         10                 71.5%         73
11      23               9         17                 65.4%         43
12       8               3         10                 77.0%         34
13       8               1         15                 93.8%        102
14      12               5          8                 61.6%         35
15       4               4         13                 76.5%         48

    Fouls Conceded  Offsides  Yellow Cards  Red Cards
0               62         2             9          0
1               73         8             7          0
2               38         8             4          0
3               45         6             5          0
4               51         5             6          0
5               49        12             4          0
6               48        12             9          1
7               89        16            16          0
8               30         3             5          0
9               56         3             7          1
10              90        10            12          0
11              51        11             6          1
12              43         4             6          0
13              83        19            11          0
14              51         7             7          0
15              31         4             5          0

[16 rows x 32 columns]

In [38]:
# Step 14: Present only the Shooting Accuracy from England, Italy, and Russia
shooting_accuracy = euro12.loc[euro12['Team'].isin(['England', 'Italy', 'Russia']), ['Team', 'Shooting Accuracy']]
print(shooting_accuracy)

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

In [1]:
#Question 3
# Step 1: Import the necessary libraries
import pandas as pd
import numpy as np

# Step 2: Create 3 different Series
series1 = pd.Series(np.random.randint(1, 5, size=100))  # Random number from 1 to 4
series2 = pd.Series(np.random.randint(1, 4, size=100))  # Random number from 1 to 3
series3 = pd.Series(np.random.randint(10000, 30001, size=100))  # Random number from 10000 to 30000

In [3]:
# Step 3: Create a DataFrame by joining the Series by column
df = pd.concat([series1, series2, series3], axis=1)
print(df)

    0  1      2
0   3  2  12960
1   2  2  21648
2   3  3  15119
3   4  3  25421
4   4  2  25014
.. .. ..    ...
95  2  1  24493
96  2  1  25173
97  3  1  10012
98  4  2  22749
99  2  1  20788

[100 rows x 3 columns]

In [4]:
# Step 4: Change the name of the columns
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

In [5]:
# Step 5: Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
bigcolumn = pd.concat([series1, series2, series3], axis=0)
print(bigcolumn)

0         3
1         2
2         3
3         4
4         4
      ...
95    24493
96    25173
97    10012
98    22749
99    20788
Length: 300, dtype: int32

In [6]:
# Step 6: Check if it's going only until index 99
print("Is it going only until index 99?", bigcolumn.index.max() == 99)

Is it going only until index 99? True

In [7]:
# Step 7: Reindex the DataFrame so it goes from 0 to 299
bigcolumn.reset_index(drop=True, inplace=True)

In [8]:
# Print the DataFrame
print("\nDataFrame with reindexed indices:")
print(bigcolumn)

DataFrame with reindexed indices:
0          3
1          2
2          3
3          4
4          4
       ...
295    24493
296    25173
297    10012
298    22749
299    20788
Length: 300, dtype: int32

In [23]:
#Question 4
# Step 1: Import the necessary libraries
import pandas as pd
import numpy as np

# Step 2: Import the dataset from the attached file wind.txt
data = pd.read_csv("wind.txt", sep='\s+')

In [32]:

import pandas as pd

# Step 2: Import the dataset from the attached file wind.txt
try:
    data = pd.read_csv("wind.txt", sep='\s+')
except FileNotFoundError:
    print("File not found. Please check the file path.")
except Exception as e:
    print("An error occurred while reading the file:", e)

# Check the column names to verify if 'Yr', 'Mo', and 'Dy' columns exist
#print("Column names:", data.columns)

# Combine the first 3 columns into a single datetime index
try:
    data['Date'] = pd.to_datetime(data['Yr'].astype(str) + data['Mo'].astype(str).str.zfill(2) + data['Dy'].astype(str).str.zfill(2), format='%y%m%d')
except KeyError:
    print("Column 'Yr', 'Mo', or 'Dy' not found. Please verify column names.")
except Exception as e:
    print("An error occurred while converting to datetime:", e)

# Set the combined datetime index as the index of the DataFrame
try:
    data.set_index('Date', inplace=True)
except KeyError:
    print("Column 'Date' not found. Please verify column names.")
except Exception as e:
    print("An error occurred while setting index:", e)

# Drop the individual 'Yr', 'Mo', and 'Dy' columns
try:
    data.drop(columns=['Yr', 'Mo', 'Dy'], inplace=True)
except KeyError:
    print("Columns 'Yr', 'Mo', or 'Dy' not found. Please verify column names.")
except Exception as e:
    print("An error occurred while dropping columns:", e)

print(data)

              RPT    VAL    ROS    KIL    SHA    BIR    DUB    CLA    MUL  \
Date
2061-01-01  15.04  14.96  13.17   9.29    NaN   9.87  13.67  10.25  10.83
2061-01-02  14.71    NaN  10.83   6.50  12.62   7.67  11.50  10.04   9.79
2061-01-03  18.50  16.88  12.33  10.13  11.17   6.17  11.25    NaN   8.50
2061-01-04  10.58   6.63  11.75   4.58   4.54   2.88   8.63   1.79   5.83
2061-01-05  13.33  13.25  11.42   6.17  10.71   8.21  11.92   6.54  10.92
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
1978-12-27  17.58  16.96  17.62   8.08  13.21  11.67  14.46  15.59  14.04
1978-12-28  13.21   5.46  13.46   5.00   8.12   9.42  14.33  16.25  15.25
1978-12-29  14.00  10.29  14.42   8.71   9.71  10.54  19.17  12.46  14.50
1978-12-30  18.50  14.04  21.29   9.13  12.75   9.71  18.08  12.87  12.46
1978-12-31  20.33  17.41  27.29   9.59  12.08  10.13  19.25  11.63  11.58

              CLO    BEL    MAL
Date
2061-01-01  12.58  18.50  15.04
2061-01-02   9.67  17.54  13.83
2061-01-03   7.67  12.75  12.71
2061-01-04   5.88   5.46  10.88
2061-01-05  10.34  12.92  11.83
...           ...    ...    ...
1978-12-27  14.00  17.21  40.08
1978-12-28  18.05  21.79  41.46
1978-12-29  16.42  18.88  29.58
1978-12-30  12.12  14.67  28.79
1978-12-31  11.38  12.08  22.08

[6574 rows x 12 columns]

In [33]:
# Step 4: Year 2061? Do we really have data from this year? Create a function to fix it and apply it
def fix_year(x):
    year = x.year - 100 if x.year > 1989 else x.year
    return pd.Timestamp(year, x.month, x.day)

data.index = data.index.map(fix_year)

In [34]:
# Step 5: Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns]
data.index = pd.to_datetime(data.index)
print(data)

              RPT    VAL    ROS    KIL    SHA    BIR    DUB    CLA    MUL  \
Date
1961-01-01  15.04  14.96  13.17   9.29    NaN   9.87  13.67  10.25  10.83
1961-01-02  14.71    NaN  10.83   6.50  12.62   7.67  11.50  10.04   9.79
1961-01-03  18.50  16.88  12.33  10.13  11.17   6.17  11.25    NaN   8.50
1961-01-04  10.58   6.63  11.75   4.58   4.54   2.88   8.63   1.79   5.83
1961-01-05  13.33  13.25  11.42   6.17  10.71   8.21  11.92   6.54  10.92
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
1978-12-27  17.58  16.96  17.62   8.08  13.21  11.67  14.46  15.59  14.04
1978-12-28  13.21   5.46  13.46   5.00   8.12   9.42  14.33  16.25  15.25
1978-12-29  14.00  10.29  14.42   8.71   9.71  10.54  19.17  12.46  14.50
1978-12-30  18.50  14.04  21.29   9.13  12.75   9.71  18.08  12.87  12.46
1978-12-31  20.33  17.41  27.29   9.59  12.08  10.13  19.25  11.63  11.58

              CLO    BEL    MAL
Date
1961-01-01  12.58  18.50  15.04
1961-01-02   9.67  17.54  13.83
1961-01-03   7.67  12.75  12.71
1961-01-04   5.88   5.46  10.88
1961-01-05  10.34  12.92  11.83
...           ...    ...    ...
1978-12-27  14.00  17.21  40.08
1978-12-28  18.05  21.79  41.46
1978-12-29  16.42  18.88  29.58
1978-12-30  12.12  14.67  28.79
1978-12-31  11.38  12.08  22.08

[6574 rows x 12 columns]

In [35]:
# Step 6: Compute how many values are missing for each location over the entire record. They should be ignored in all calculations below
missing_values = data.isnull().sum()
print(missing_values)

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

In [36]:
# Step 7: Compute how many non-missing values there are in total
non_missing_values = data.notnull().sum().sum()
print(non_missing_values)

78857

In [37]:
# Step 8: Calculate the mean windspeeds of the windspeeds over all the locations and all the times. A single number for the entire dataset
mean_windspeed = data.mean().mean()
print(mean_windspeed)

10.227982360836938

In [38]:
# Step 9: Create a DataFrame called loc_stats and calculate the min, max, and mean windspeeds and standard deviations of the windspeeds at each location over all the days
loc_stats = pd.DataFrame()
loc_stats['min'] = data.min()
loc_stats['max'] = data.max()
loc_stats['mean'] = data.mean()
loc_stats['std'] = data.std()
print(loc_stats)

      min    max       mean       std
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

In [39]:
# Step 10: Create a DataFrame called day_stats and calculate the min, max, and mean windspeed and standard deviations of the windspeeds across all the locations at each day
day_stats = pd.DataFrame()
day_stats['min'] = data.min(axis=1)
day_stats['max'] = data.max(axis=1)
day_stats['mean'] = data.mean(axis=1)
day_stats['std'] = data.std(axis=1)
print(day_stats)

             min    max       mean       std
Date
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356
...          ...    ...        ...       ...
1978-12-27  8.08  40.08  16.708333  7.868076
1978-12-28  5.00  41.46  15.150000  9.687857
1978-12-29  8.71  29.58  14.890000  5.756836
1978-12-30  9.13  28.79  15.367500  5.540437
1978-12-31  9.59  27.29  15.402500  5.702483

[6574 rows x 4 columns]

In [40]:
# Step 11: Find the average windspeed in January for each location. Treat January 1961 and January 1962 both as January
january_data = data[data.index.month == 1]
january_mean = january_data.mean()
print(january_mean)

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

In [42]:
# Step 12: Downsample the record to a yearly frequency for each location
yearly_data = data.resample('YE').mean()
print(yearly_data)

                  RPT        VAL        ROS       KIL        SHA       BIR  \
Date
1961-12-31  12.299583  10.351796  11.362369  6.958227  10.881763  7.729726
1962-12-31  12.246923  10.110438  11.732712  6.960440  10.657918  7.393068
1963-12-31  12.813452  10.836986  12.541151  7.330055  11.724110  8.434712
1964-12-31  12.363661  10.920164  12.104372  6.787787  11.454481  7.570874
1965-12-31  12.451370  11.075534  11.848767  6.858466  11.024795  7.478110
1966-12-31  13.461973  11.557205  12.020630  7.345726  11.805041  7.793671
1967-12-31  12.737151  10.990986  11.739397  7.143425  11.630740  7.368164
1968-12-31  11.835628  10.468197  11.409754  6.477678  10.760765  6.067322
1969-12-31  11.166356   9.723699  10.902000  5.767973   9.873918  6.189973
1970-12-31  12.600329  10.726932  11.730247  6.217178  10.567370  7.609452
1971-12-31  11.273123   9.095178  11.088329  5.241507   9.440329  6.097151
1972-12-31  12.463962  10.561311  12.058333  5.929699   9.430410  6.358825
1973-12-31  11.828466  10.680493  10.680493  5.547863   9.640877  6.548740
1974-12-31  13.643096  11.811781  12.336356  6.427041  11.110986  6.809781
1975-12-31  12.008575  10.293836  11.564712  5.269096   9.190082  5.668521
1976-12-31  11.737842  10.203115  10.761230  5.109426   8.846339  6.311038
1977-12-31  13.099616  11.144493  12.627836  6.073945  10.003836  8.586438
1978-12-31  12.504356  11.044274  11.380000  6.082356  10.167233  7.650658

                  DUB        CLA       MUL        CLO        BEL        MAL
Date
1961-12-31   9.733923   8.858788  8.647652   9.835577  13.502795  13.680773
1962-12-31  11.020712   8.793753  8.316822   9.676247  12.930685  14.323956
1963-12-31  11.075699  10.336548  8.903589  10.224438  13.638877  14.999014
1964-12-31  10.259153   9.467350  7.789016  10.207951  13.740546  14.910301
1965-12-31  10.618712   8.879918  7.907425   9.918082  12.964247  15.591644
1966-12-31  10.579808   8.835096  8.514438   9.768959  14.265836  16.307260
1967-12-31  10.652027   9.325616  8.645014   9.547425  14.774548  17.135945
1968-12-31   8.859180   8.255519  7.224945   7.832978  12.808634  15.017486
1969-12-31   8.564493   7.711397  7.924521   7.754384  12.621233  15.762904
1970-12-31   9.609890   8.334630  9.297616   8.289808  13.183644  16.456027
1971-12-31   8.385890   6.757315  7.915370   7.229753  12.208932  15.025233
1972-12-31   9.704508   7.680792  8.357295   7.515273  12.727377  15.028716
1973-12-31   8.482110   7.614274  8.245534   7.812411  12.169699  15.441096
1974-12-31  10.084603   9.896986  9.331753   8.736356  13.252959  16.947671
1975-12-31   8.562603   7.843836  8.797945   7.382822  12.631671  15.307863
1976-12-31   9.149126   7.146202  8.883716   7.883087  12.332377  15.471448
1977-12-31  11.523205   8.378384  9.098192   8.821616  13.459068  16.590849
1978-12-31   9.489342   8.800466  9.089753   8.301699  12.967397  16.771370

In [44]:
# Step 13: Downsample the record to a monthly frequency for each location
monthly_data = data.resample('ME').mean()
print(monthly_data)

                  RPT        VAL        ROS       KIL        SHA        BIR  \
Date
1961-01-31  14.841333  11.988333  13.431613  7.736774  11.072759   8.588065
1961-02-28  16.269286  14.975357  14.441481  9.230741  13.852143  10.937500
1961-03-31  10.890000  11.296452  10.752903  7.284000  10.509355   8.866774
1961-04-30  10.722667   9.427667   9.998000  5.830667   8.435000   6.495000
1961-05-31   9.860968   8.850000  10.818065  5.905333   9.490323   6.574839
...               ...        ...        ...       ...        ...        ...
1978-08-31   9.645161   8.259355   9.032258  4.502903   7.368065   5.935161
1978-09-30  10.913667  10.895000  10.635000  5.725000  10.372000   9.278333
1978-10-31   9.897742   8.670968   9.295806  4.721290   8.525161   6.774194
1978-11-30  16.151667  14.802667  13.508000  7.317333  11.475000   8.743000
1978-12-31  16.175484  13.748065  15.635161  7.094839  11.398710   9.241613

                  DUB        CLA        MUL        CLO        BEL        MAL
Date
1961-01-31  11.184839   9.245333   9.085806  10.107419  13.880968  14.703226
1961-02-28  11.890714  11.846071  11.821429  12.714286  18.583214  15.411786
1961-03-31   9.644194   9.829677  10.294138  11.251935  16.410968  15.720000
1961-04-30   6.925333   7.094667   7.342333   7.237000  11.147333  10.278333
1961-05-31   7.604000   8.177097   8.039355   8.499355  11.900323  12.011613
...               ...        ...        ...        ...        ...        ...
1978-08-31   5.650323   5.417742   7.241290   5.536774  10.466774  12.054194
1978-09-30  10.790333   9.583000  10.069333   8.939000  15.680333  19.391333
1978-10-31   8.115484   7.337742   8.297742   8.243871  13.776774  17.150000
1978-11-30  11.492333   9.657333  10.701333  10.676000  17.404667  20.723000
1978-12-31  12.077419  10.194839  10.616774  11.028710  13.859677  21.371613

[216 rows x 12 columns]

In [46]:
# Step 14: Downsample the record to a weekly frequency for each location
weekly_data = data.resample('W').mean()
print(weekly_data)

                  RPT        VAL        ROS        KIL        SHA        BIR  \
Date
1961-01-01  15.040000  14.960000  13.170000   9.290000        NaN   9.870000
1961-01-08  13.541429  11.486667  10.487143   6.417143   9.474286   6.435714
1961-01-15  12.468571   8.967143  11.958571   4.630000   7.351429   5.072857
1961-01-22  13.204286   9.862857  12.982857   6.328571   8.966667   7.417143
1961-01-29  19.880000  16.141429  18.225714  12.720000  17.432857  14.828571
...               ...        ...        ...        ...        ...        ...
1978-12-03  14.934286  11.232857  13.941429   5.565714  10.215714   8.618571
1978-12-10  20.740000  19.190000  17.034286   9.777143  15.287143  12.774286
1978-12-17  16.758571  14.692857  14.987143   6.917143  11.397143   7.272857
1978-12-24  11.155714   8.008571  13.172857   4.004286   7.825714   6.290000
1978-12-31  14.951429  11.801429  16.035714   6.507143   9.660000   8.620000

                  DUB        CLA        MUL        CLO        BEL        MAL
Date
1961-01-01  13.670000  10.250000  10.830000  12.580000  18.500000  15.040000
1961-01-08  11.061429   6.616667   8.434286   8.497143  12.481429  13.238571
1961-01-15   7.535714   6.820000   5.712857   7.571429  11.125714  11.024286
1961-01-22   9.257143   7.875714   7.145714   8.124286   9.821429  11.434286
1961-01-29  15.528571  15.160000  14.480000  15.640000  20.930000  22.530000
...               ...        ...        ...        ...        ...        ...
1978-12-03   9.642857   7.685714   9.011429   9.547143  11.835714  18.728571
1978-12-10  14.437143  12.488571  13.870000  14.082857  18.517143  23.061429
1978-12-17  10.208571   7.967143   9.168571   8.565714  11.102857  15.562857
1978-12-24   7.798571   8.667143   7.151429   8.072857  11.845714  18.977143
1978-12-31  13.708571  10.477143  10.868571  11.471429  12.947143  26.844286

[940 rows x 12 columns]

In [47]:
# Step 15: Calculate the min, max, and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks
weekly_stats = pd.DataFrame()
weekly_stats['min'] = data.resample('W').min().iloc[:52].mean(axis=1)
weekly_stats['max'] = data.resample('W').max().iloc[:52].mean(axis=1)
weekly_stats['mean'] = data.resample('W').mean().iloc[:52].mean(axis=1)
weekly_stats['std'] = data.resample('W').std().iloc[:52].mean(axis=1)
print(weekly_stats)

                  min        max       mean       std
Date
1961-01-01  13.018182  13.018182  13.018182       NaN
1961-01-08   6.275000  13.208333   9.847659  2.485631
1961-01-15   3.354167  14.276667   8.353214  4.040638
1961-01-22   3.949167  16.277500   9.368413  4.393453
1961-01-29  10.780833  22.925833  16.958095  4.500794
1961-02-05   7.515000  17.082500  11.800357  3.545694
1961-02-12  11.787500  20.712500  15.891548  3.159939
1961-02-19   8.171667  18.559167  13.726825  3.785329
1961-02-26   5.802500  20.741667  12.604286  5.462121
1961-03-05   7.975000  15.059167  11.766766  2.504299
1961-03-12   5.514167  16.424167  10.612579  3.871318
1961-03-19   6.695000  15.479167  11.756310  3.183473
1961-03-26   6.510833  14.815833  10.462857  3.137021
1961-04-02   4.800000  16.305833  10.268433  4.234038
1961-04-09   5.624167  13.283333   9.412381  2.716620
1961-04-16   3.685833  11.347500   6.845595  2.762399
1961-04-23   3.481667  15.389167  10.146667  4.366434
1961-04-30   3.125833  12.818333   7.445000  3.270662
1961-05-07   7.420000  20.215000  13.164048  4.759850
1961-05-14   3.218333  16.276667   8.059802  4.665646
1961-05-21   4.629167  10.938333   7.470258  2.287037
1961-05-28   4.088333  11.774167   7.177956  2.969267
1961-06-04   6.622500  12.718333   9.244643  2.239625
1961-06-11   5.172500  11.928333   8.459048  2.487562
1961-06-18   4.417500  15.506667  10.173810  3.936369
1961-06-25   6.803333  12.733333  10.066548  2.064043
1961-07-02   6.542500  13.161667   9.528810  2.549156
1961-07-09   6.570833  15.763333  10.580099  3.361273
1961-07-16   5.566667  17.337500  11.666190  3.948373
1961-07-23   3.468333   7.615833   5.350952  1.458928
1961-07-30   4.730833  16.607500   9.431071  4.337743
1961-08-06   5.028333  14.451667   9.446786  3.500002
1961-08-13   4.560000  11.551667   8.199206  2.660800
1961-08-20   9.647500  17.493333  12.668413  2.713999
1961-08-27   6.277500  17.878333  12.061786  4.049971
1961-09-03   3.459167  16.788333   8.437381  5.142567
1961-09-10   3.152500  13.861667   8.186786  3.954194
1961-09-17   8.062500  24.441667  14.510833  5.483186
1961-09-24   3.694167  11.441667   7.247937  2.589710
1961-10-01   7.059167  16.183333  11.771091  3.324172
1961-10-08   3.066667  13.888333   8.034167  4.235748
1961-10-15   5.463333  14.854167   9.828115  3.391221
1961-10-22   8.493333  22.820833  15.479643  5.630190
1961-10-29   4.932500  21.636667  12.688631  6.371767
1961-11-05   6.687500  15.774167  11.612857  3.198396
1961-11-12   3.821667  11.541667   7.487262  2.923848
1961-11-19   2.799167  14.465000   7.647024  4.243347
1961-11-26   4.820000  13.704167   8.755516  3.228901
1961-12-03   4.612500  16.809167   9.754762  4.516661
1961-12-10   7.333333  19.025833  13.145357  4.398454
1961-12-17   6.754167  18.894167  12.703095  4.450194
1961-12-24   4.890833  17.237500   9.315714  4.662188

In [49]:
#Question 5
# Step 1: Import the necessary libraries
import pandas as pd

# Step 2: Import the dataset from groceries.csv
chipo = pd.read_csv("groceries.csv", delimiter='\t')

# Step 3: Assign it to a variable called chipo

# Step 4: See the first 10 entries
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [50]:
# Step 5: What is the number of observations in the dataset?
num_observations = chipo.shape[0]
print("Number of observations:", num_observations)

Number of observations: 4622

In [51]:
# Step 6: What is the number of columns in the dataset?
num_columns = chipo.shape[1]
print("Number of columns:", num_columns)

Number of columns: 5

In [52]:
# Step 7: Print the name of all the columns.
print("Column names:", chipo.columns.tolist())

Column names: ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [53]:
# Step 8: How is the dataset indexed?
print("Index type:", chipo.index)

Index type: RangeIndex(start=0, stop=4622, step=1)

In [54]:
# Step 9: Which was the most-ordered item?
most_ordered_item = chipo['item_name'].value_counts().idxmax()
print("Most ordered item:", most_ordered_item)

Most ordered item: Chicken Bowl

In [55]:
# Step 10: For the most-ordered item, how many items were ordered?
most_ordered_item_count = chipo[chipo['item_name'] == most_ordered_item]['quantity'].sum()
print("Number of items ordered:", most_ordered_item_count)

Number of items ordered: 761

In [56]:
# Step 11: What was the most ordered item in the choice_description column?
most_ordered_item_choice = chipo['choice_description'].value_counts().idxmax()
print("Most ordered item in choice_description column:", most_ordered_item_choice)

Most ordered item in choice_description column: [Diet Coke]

In [57]:
# Step 12: How many items were ordered in total?
total_items_ordered = chipo['quantity'].sum()
print("Total items ordered:", total_items_ordered)

Total items ordered: 4972

In [63]:
# Step 13: Turn the item price into a float
def convert_to_float(x):
    if isinstance(x, str):
        return float(x.replace('$', ''))
    else:
        return x

chipo['item_price'] = chipo['item_price'].apply(convert_to_float)

# Check the item price type
print("Item price type before lambda function:", chipo['item_price'].dtype)

# Step 14: How much was the revenue for the period in the dataset?
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("Revenue:", revenue)

# Create a lambda function and change the type of item price
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x))

# Check the item price type
print("Item price type after lambda function:", chipo['item_price'].dtype)

Item price type before lambda function: float64
Revenue: 39237.02
Item price type after lambda function: float64

In [64]:
# Step 14: How much was the revenue for the period in the dataset?
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("Revenue:", revenue)

Revenue: 39237.02

In [65]:
# Step 15: How many orders were made in the period?
num_orders = chipo['order_id'].nunique()
print("Number of orders:", num_orders)

Number of orders: 1834

In [66]:
# Step 16: What is the average revenue amount per order?
avg_revenue_per_order = revenue / num_orders
print("Average revenue per order:", avg_revenue_per_order)

Average revenue per order: 21.39423118865867

In [67]:
# Step 17: How many different items are sold?
num_different_items_sold = chipo['item_name'].nunique()
print("Number of different items sold:", num_different_items_sold)

Number of different items sold: 50